@import 'bootstrap';
@import 'bootstrap-icons';

.card {

    margin: 1rem auto;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.card img {
    height: 18rem;
    object-fit: cover;
}

.Detail_image {
    max-width: 400px;
    height: auto;
}