@import 'bootstrap';
@import 'bootstrap-icons';

.card {

    margin: 1rem auto;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.card img {
    height: 18rem;
    object-fit: cover;
}

.Detail_image {
    max-width: 400px;
    height: auto;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 49, 49, 0.29);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}